<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" android:usesPermissionFlags="neverForLocation" tools:targetApi="s" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".ui.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_M1142"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false">


        <activity android:name="com.project_ci01.app.activity.MainActivity"
            android:theme="@style/StartStyle"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTask">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>


        <activity android:name="com.project_ci01.app.activity.PixelActivity"
            android:theme="@style/StartStyle"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <!--======================================-->
        <!--======================================-->
        <!--======================================-->



        <activity android:name=".ui.activity.StartActivity"
            android:theme="@style/StartStyle"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTask">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".ui.activity.PrivacyActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.activity.ConnectedReportActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.UnconnectReportActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.MineActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.WiFiActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.WifiConnectingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.TestActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.TestHistoryActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.TestExecActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.TestResultActivity"
            android:screenOrientation="portrait"/>


        <!--XXPermission-->
        <meta-data android:name="ScopedStorage" android:value="true" />

        <!--// TODO 去掉 Firebase-->
        <!-- Firebase 的 Crashlytics 启用自选式报告 -->
        <!-- 参考：https://firebase.google.com/docs/crashlytics/customize-crash-reports?authuser=0&platform=android#enable-reporting -->
        <!-- 此时，当代码中调用 FirebaseCrashlytics.getInstance().setCrashlyticsCollectionEnabled(true); 时才会启动崩溃分析  -->
        <!--<meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />-->

    </application>

</manifest>