*.iml
.gradle/
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
local.properties
app/release/
app/debug/
config.json
deploy.json
vpnlist.json
*.jks
google-services.json
google-services.json.bak
define.cmake
*/src/main/release/
log.txt